<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VigenereCipher</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<!--<h3>{{ textqwe }}</h3>  нужно переименовать но это долго и никаму не нужно -->

<h3>{{ output }}</h3>
<div class="container">
   <div class="row">
        <div class="col-2"><a href="{{ url_for('startPage') }}"> На главную </a></div>
        <div class="col-2"><a href="{{ url_for('main', username=textqwe) }}"> Выбор шифра </a></div>
        <div class="col-auto"><h2>Пользователь</h2> </div>
        <div class="col"><h2>{{ textqwe }}</h2></div>

   </div>
</div>

    <form method="post" action="/cipher/VigenereCipher/{{ textqwe }}">

        <div class="container">
            <div class="row">
                <div class="col text-center"><h1>Шифр Виженера</h1> </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <h3>Ввод текста</h3>
                    <p><textarea rows="20" cols="50" wrap="hard" name="INtext" maxlength="4000">{{ INtextValues }}</textarea></p>
                </div>
                <div class="col text-center">
                    <h3>Ключ</h3>
                    <p><textarea rows="10" cols="20" wrap="hard" name="INkeys" maxlength="4000">{{ INkeysValues}}</textarea></p>
                </div>
                <div class="col text-center">
                    <h3>Результат</h3>
                    <p><textarea rows="20" cols="50" wrap="hard" name="OUTencryptiontext" readonly maxlength="4000">{{ OUTencryptiontextValues}}</textarea></p>
                </div>

            </div>
            <div class="row">
                <div class="col text-center">
                    <p><input type="radio" name="encryptionMode" id="encryptionMode1" value="encryption" checked> зашифровать </input></p>
                    <p><input type="radio" name="encryptionMode" id="encryptionMode2" value="decryption"> расшифровать </input></p>
                    <p><input type="submit" value="Отправить"></p>

                </div>
            </div>
        </div>

    </form>

<div>
        <h6>
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <p>
                            Шифр Виженера (фр. Chiffre de Vigenère) — метод полиалфавитного шифрования буквенного текста
                            с использованием ключевого слова.
                        </p>
                        <p>
                        Этот метод является простой формой многоалфавитной замены. Шифр Виженера изобретался многократно.
                            Впервые этот метод описал Джовани Баттиста Белласо (итал. Giovan Battista Bellaso) в книге
                            La cifra del. Sig. Giovan Battista Bellasо в 1553 году, однако в XIX веке получил имя
                            Блеза Виженера, французского дипломата. Метод прост для понимания и реализации,
                            он является недоступным для простых методов криптоанализа.
                        </p>
                        <p>
                            Хотя шифр легко понять и реализовать, на протяжении трех столетий он сопротивлялся всем
                            попыткам его сломать; чем и заработал название le chiffre indéchiffrable
                            (с французского 'неразгаданный шифр'). Многие люди пытались реализовать схемы шифрования,
                            которые по сути являлись шифрами Виженера.
                        </p>
                    </div>
                </div>
            </div>
        </h6>
    </div>
</body>
</html>